.mypage
  .mypage__content
    .mypage__content__side 
      %nav.mypage__content__side__nav
        %ul.mypage__content__side__nav__list
          %li
            = link_to user_path(current_user.id), class: "list-item" do
              マイページ
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              いいね！一覧
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              出品した商品
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              購入した商品
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              評価一覧
              = icon('fas', 'angle-right')
        %h3.mypage__content__side__nav__setting
          設定
        %ul.mypage__content__side__nav__list
          %li
            = link_to "#", class: "list-item" do
              プロフィール
              = icon('fas', 'angle-right')
          %li
            = link_to edit_address_path, class: "list-item" do
              発送先・お届け先住所変更
              = icon('fas', 'angle-right')
          %li
            = link_to credit_index_path, class: "list-item" do
              支払い方法
              = icon('fas', 'angle-right')
          %li
            = link_to "/users/sign_out", method: :delete, class: "list-item" do
              ログアウト
              = icon('fas', 'angle-right')
    .mypage__content__main
      .mypage__content__main__title
        %h2 プロフィール
      .mypage__content__main__user
        =link_to '#' do
          %figure.mypage__content__main__user__img
            =image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "mypage__content__main__user__img__icon")
          %h2.mypage__content__main__user__img__name
            = @user.nickname
          .mypage__content__main__user__status
            .mypage__content__main__user__status__review
              評価
              %span 00
            .mypage__content__main__user__status__sell
              出品数
              %span 00
      .profile__content__main__container
        .profile-page__inner.clearfix.user-form
          = form_for(@address) do |f|
            = render "devise/shared/error_messages", resource: @address
            .profile-page__inner__field
              .profile-page__inner__field__label
                = f.label :名前：　　
                %span
                  = @address.family_name
                  = @address.first_name
            .profile-page__inner__field
              .profile-page__inner__field__label
                = f.label :電話番号：
                %span
                  = @address.tel
            .profile-page__inner__field
              .profile-page__inner__field__label
                = f.label :郵便番号：
                %span
                  = @address.zip_code
            .profile-page__inner__field
              .profile-page__inner__field__label
                = f.label :都道府県：
                %span
                  = @prefecture.name
                %span
                  = @address.municipality
                %span
                  = @address.address
                %span
                  = @address.building_name

%aside.banner
  .mypage__inner-box
    %h2.mypage__inner-box__title だれでもかんたん、人生を変えるフリマアプリ
    %p.mypage__inner-box__text 今すぐ無料ダウンロード！
    %div.mypage__inner-box__icon
      = link_to '#' do
        =image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: "inner-box__icon__btn-a")
      =link_to '#' do
        =image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: "inner-box__icon__btn-b")
