%main
  %div.list-container
    %div.list-container__list-side 
      %nav.list-container__mypage-nav
        %ul.nav-list
          %li
            = link_to "#", class: "list-item" do
              マイページ
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              いいね！一覧
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              出品した商品
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              購入した商品
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              評価一覧
              = icon('fas', 'angle-right')
      %h3.nav-head
        %span 設定
        %ul.nav-list
          %li
            = link_to "#", class: "list-item" do
              プロフィール
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              発送先・お届け先住所変更
              = icon('fas', 'angle-right')
          %li
            = link_to credit_index_path, class: "list-item" do
              支払い方法
              = icon('fas', 'angle-right')
          %li
            = link_to "/users/sign_out", method: :delete, class: "list-item" do
              ログアウト
              = icon('fas', 'angle-right')
    %div.list-container__list-content
      %section.mypage-user
        =link_to '#' do
          %figure.mypage-user__img
            =image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png")
          %h2 USER NAME
          %div.user-status
            %div.user-status__review
              評価
              %span 00
            %div.user-status__sell
              出品数
              %span 00
      %section.mypage-tab-container
        %h2.mypage-tab-container__head 購入した商品
        %ul.mypage-tab-container__mypage-tabs
          %li.mypage-tab-container__tab
            = link_to "#"
            取引中
          %li.mypage-tab-container__tab
            = link_to "#"
            過去の取引
        %div.mypage-tab-container__tab-content
          = render 'item-list'
%aside.banner
  %div.inner-box
    %h2.inner-box__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner-box__text 今すぐ無料ダウンロード！
    %div.inner-box__icon
      = link_to '#' do
        =image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: "inner-box__icon__btn-a")
      =link_to '#' do
        =image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: "inner-box__icon__btn-b")
=link_to '#' do
  %div.sell-btn
    %p.sell-btn__text 出品する
    =image_tag("http://furima.tokyo/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg", class: "sell-btn__icon")


:javascript

  
%script(src="")
