.mypage
  .mypage__content
    .mypage__content__side 
      %nav.mypage__content__side__nav
        %ul.mypage__content__side__nav__list
          %li
            = link_to "#", class: "list-item" do
              マイページ
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              いいね！一覧
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              出品した商品
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              購入した商品
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              評価一覧
              = icon('fas', 'angle-right')
      %h3.mypage__content__side__nav__setting
        設定
        %ul.mypage__content__side__nav__list
          %li
            = link_to "#", class: "list-item" do
              プロフィール
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              発送先・お届け先住所変更
              = icon('fas', 'angle-right')
          %li
            = link_to credit_index_path, class: "list-item" do
              支払い方法
              = icon('fas', 'angle-right')
          %li
            = link_to "/users/sign_out", method: :delete, class: "list-item" do
              ログアウト
              = icon('fas', 'angle-right')
    .mypage__content__main
      -# .mypage-container.clearfix
      .mypage__credit
        .mypage__credit__main
          %h2.mypage__credit__main__payment
            支払い方法
          -# .mypage__notification.mypage__notification--success
          .mypage__credit__main__list
          .mypage__credit__main__information
            %h3.mypage__credit__main__information__header
              クレジットカード一覧
            %ul.mypage__credit__main__information__box
              %li
                -# .signup-main__content.signup-main__content--form{ action: '#', method: 'GET' }
                .mypage__credit__main__information__box__left{ action: '#', method: 'GET' }
                  .mypage__credit__main__information__box__left__icon
                    = image_tag 'jcb-logomark-img-02.gif', width: '40', height: '30', alt: 'jcb'
                  .mypage__credit__main__information__box__left__num
                    = "**** **** **** " + @default_credit_information.last4
                  .mypage__credit__main__information__box__left__num
                    - exp_month = @default_credit_information.exp_month.to_s
                    - exp_year = @default_credit_information.exp_year.to_s.slice(2,3)
                    = exp_month + ' / ' + exp_year
                = form_tag(delete_credit_index_path, method: :post, id: 'charge-form',  name: 'inputForm', class: 'mypage__credit__main__information__box__right') do
                  %input{ type: 'hidden', name: 'card_id', value: '' }
                  %button.mypage__credit__main__information__box__right__remove 削除する
            .mypage__credit__main__information__footer
              .mypage__credit__main__information__footer__regist
                = link_to new_credit_path, class: 'signup-main__btn-default signup-main__btn-red signup-main__submit_button' do
                  = icon 'far', 'credit-card'
                  クレジットカードを追加する
              .mypage__credit__main__information__footer__not-regist
                = link_to '#', target: "_blank" do
                  %span 支払い方法について
                  = icon 'fas', 'chevron-right'
%aside.banner
  .mypage__inner-box
    %h2.mypage__inner-box__title だれでもかんたん、人生を変えるフリマアプリ
    %p.mypage__inner-box__text 今すぐ無料ダウンロード！
    %div.mypage__inner-box__icon
      = link_to '#' do
        =image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: "inner-box__icon__btn-a")
      =link_to '#' do
        =image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: "inner-box__icon__btn-b")