.main
  %section.main__visual
    .content
      %h2.content__subtitle 
        %br/ 
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .cotent__btn
        %a(href="#")
          = image_tag 'App_Store_Badge.svg', height: '53px', width: '180px', class: 'app'
        %a(href="#")
          = image_tag 'google-play-badge.svg', height: '53px', width: '180px', class: 'goole'
  %section.main__top-introduction
    %h2.main__top-introduction__subtitle 

      FURIMAが選ばれる３つの理由

    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag 'pict-reason-01.jpg', height: '100%', width: '100%'
        %h3.list__text
          %span ３分
          ですぐに出品
        %p.list__description スマホで入力するだけで簡単に出品できる
      %li.list
        .list__pict
          %span.number 2
          = image_tag 'pict-reason-02.jpg', height: '100%', width: '100%'
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list__pict
          %span.number 3
          = image_tag 'pict-reason-03.jpg', height: '100%', width: '100%'
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description 最大３％でお得に出品＆購入
  %section.main__top-middeldl
    .main__top-middeldl__inner
      %h2.submit 会員数日本一位
      %p.text 
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .btn
        %a(href="#")
          = image_tag 'App_Store_Badge.svg', height: '53px', width: '180px', class: 'app'
        %a(href="#")
          = image_tag 'google-play-badge.svg', height: '53px', width: '180px', class: 'goole'
  %section.main__top-keyfeatures
    %h2.head
      FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag 'icon-01.png', width: '100%'
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail スマホひとつで、いつでも簡単に出品・購入が可能
      %section.item
        %figure.item__img
          = image_tag 'icon-03.png', height: '100%', width: '100%'
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail 午前９時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      %section.item
        %figure.item__img
          = image_tag 'icon-04.png', height: '100%', width: '100%'
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  %section.main__pickupcontainer
    %h2.head ピックアップカテゴリー
    .productbox
      .producthead
        %a(href="#")
          %h3.title 新規投稿商品
      .productlists
        - @items.each do |item|
          -if item.status == "売り出し中"
            .productlist
              = link_to "productlist" do
                %figure
                  - item.item_images.each do |itemsImage|
                    = image_tag itemsImage.image, height: '140px', width: '156px'
                .productlist--body
                  %h3.name
                    = item.name
                  .details
                    %ul
                      %li
                        = item.price
                        円
                      %li
                        = image_tag 'star.svg', height: '15px', width: '15px'
                        0
                    %p (税込)
          -else
            .productlist
              %p.soldout SOLD OUT
              %figure
                - item.item_images.each do |itemsImage|
              .productlist--body
                %h3.name
                  = item.name
                .details
                  %ul
                    %li
                      = item.price
                      円
                    %li
                      = image_tag 'star.svg', height: '15px', width: '15px'
                      0
                  %p (税込)

%aside.appbanner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text  今すぐ無料ダウンロード
    .inner__icon
      %a(href="#")
        = image_tag 'App_Store_Badge.svg', height: '53px', width: '180px', class: 'app'
      %a(href="#")
        = image_tag 'google-play-badge.svg', height: '53px', width: '180px', class: 'goole'