.header
  .header__logo
    = link_to "#", class: "logo_btn" do
      = image_tag src="/assets/logo.png", size: "185x50"
.container
  .main
    -# 商品画像
    .item-content
      .item-content__fild
        .item-content__fild__dt
          .item-content__fild__dt__label 出品画像
          .item-content__fild__dt__required 必須
        .image-from
          = form_for @item do |f|
            = f.text_field :name
            = f.fields_for :item_images do |i|
              = i.file_field :image
            = f.submit
      .item-content__files
        .item-content__files__image-col
          = image_tag src="/assets/icon_camera.png", size: "100x100"
        .item-content__files__image-col
          = image_tag src="/assets/icon_camera.png", size: "100x100"
        .item-content__files__image-col
          = image_tag src="/assets/icon_camera.png", size: "100x100"
        .item-content__files__image-col
          = image_tag src="/assets/icon_camera.png", size: "100x100"
    -# 商品名/商品説明
    .item-content
      .item-content__fild
        .item-content__fild__dt
          .item-content__fild__dt__label 商品名
          .item-content__fild__dt__required 必須
        .item-content__text-fild
          %input.text{:name => "name", :placeholder => "40文字まで", :type => "neme", :value => ""}
    .item-content
      .item-content__fild__dt
        .item-content__fild__dt__label 商品説明
        .item-content__fild__dt__required 必須
      .item-content__text-area
        %textarea{:cols => "40", :placeholder => "商品の説明", :name => "", :rows => "4"}
    -# 商品詳細/カテゴリー/サイズ/ブランド/商品の状態
    .item-content
      .item-content__fild
        %p.note 商品の詳細
        .item-content__fild__dt
          .item-content__fild__dt__label カテゴリー
          .item-content__fild__dt__required 必須
        .item-content__text-select
          %select{:name => "カテゴリー", :size => ""}
          %select{:name => "カテゴリー", :size => ""}
          %select{:name => "カテゴリー", :size => ""}
      .item-content__fild
        .item-content__fild__dt
          .item-content__fild__dt__label サイズ
          .item-content__fild__dt__required 必須
        .item-content__text-select
          %select{:name => "カテゴリー", :size => ""}
      .item-content__fild
        .item-content__fild__dt
          .item-content__fild__dt__label ブランド
          .item-content__fild__dt__any 任意
        .item-content__text-fild
          %input.text{:name => "name", :placeholder => "例）シャネル", :type => "", :value => ""}
      .item-content__fild
        .item-content__fild__dt
          .item-content__fild__dt__label 商品の状態
          .item-content__fild__dt__required 必須
        .item-content__text-select
          %select{:name => "カテゴリー", :size => ""}
    -# 配送について/配送の負担/発送の方法/発送元の地域/発送までの日数
    .item-content
      .item-content__fild
        %p.note 配送について
        .item-content__fild__dt
          .item-content__fild__dt__label 配送の負担
          .item-content__fild__dt__required 必須
        .item-content__text-select
          %select{:name => "カテゴリー", :size => ""}
      .item-content__fild
        .item-content__fild__dt
          .item-content__fild__dt__label 発送の方法
          .item-content__fild__dt__required 必須
        .item-content__text-select
          %select{:name => "カテゴリー", :size => ""}
      .item-content__fild
        .item-content__fild__dt
          .item-content__fild__dt__label 発送元の地域
          .item-content__fild__dt__required 必須
        .item-content__text-select
          %select{:name => "カテゴリー", :size => ""}
      .item-content__fild
        .item-content__fild__dt
          .item-content__fild__dt__label 発送までの日数
          .item-content__fild__dt__required 必須
        .item-content__text-select
          %select{:name => "カテゴリー", :size => ""}
    -# 価格/出品ボタン/もどるリンク
    .item-content
      .item-content__fild
        %p.note 価格（¥300~9,999,999)
        .item-content__fild__dt
          .item-content__fild__dt__label 商品名
          .item-content__fild__dt__required 必須
        .item-content__text-fild
          %input.text{:name => "name", :placeholder => "¥0", :type => "money", :value => ""}
      .item-content__reactid
        %button.sellbtn{:name => "button", :type => "submit"}
          出品する
        %br
        %a.cta-btn{:href => "#"} もどる
.footer
  .footer__conditions
    %h5 プライバシーポリシー
    %h5 FURIMA利用規約
    %h5 特定商取引に関する表記
  .footer__logo
    = image_tag src="/assets/logo-white.png", size: "185x50"
  %p© FURIMA