.main
  .main__show
    .main__show__contents
      .main__show__contents__range
        .main__show__contents__range__item
          .main__show__contents__range__item__name    
            %h2.item-name 
              = @item.name
          .main__show__contents__range__item__image
          %ul
            %li.image
              = image_tag "#{@item.item_images.first.src}", class: :main_image, height: '100%', width: '100%'
            .main__show__contents__range__item__image__sub
            %ul  
            - @item.item_images.each do |image|
              = image_tag "#{image.src}", class: :sub_image, height: '150', width: '150'
          .main__show__contents__range__item__price
            %span.price 
              = "#{@item.price}円"
            .main__show__contents__range__item__price__detail
              %span (税込）
              %span 送料込み
            - if user_signed_in? && @item.seller_id != current_user.id           
              = link_to item_purchase_index_path(@item), class: "price-btn " do
                .main__show__contents__range__item__price__button
                  %span.price-btn 
                  購入画面に進む 
            - elsif user_signed_in? && @item.seller_id == current_user.id
              .main__show__contents__range__item__price__seller
                = link_to edit_item_path(@item.id), class: "item-seller-button" do    
                  .main__show__contents__range__item__price__seller__edit
                    %span.item-seller-button 
                    この商品を編集    
                = link_to item_path(@item.id), method: :delete, class: "item-seller-button" do
                  .main__show__contents__range__item__price__seller__destroy
                    %span.item-seller-button 
                    この商品を削除
            - else
              = link_to new_user_session_path, class: "price-btn " do
                .main__show__contents__range__item__price__button
                  %span.price-btn 
                  購入画面に進む         
          .main__show__contents__range__item__Detail
            = @item.introduction
            /ここからアイテム情報の表
          .main__show__contents__range__item__table 
            %table
              %tbody
              - if @category.ancestry == nil
                %tr
                  %th 出品者
                  %td 
                    = @user.nickname
                %tr
                  %th カテゴリー  
                  %td
                    = link_to "#" do
                      = @category.name 
                %tr
                  %th ブランド
                  %td 
                    = @item.brand
                %tr
                  %th 商品サイズ
                  %td
                    = @size.size 
                %tr
                  %th 商品の状態
                  %td 
                    = @status.name
                %tr
                  %th 配送の方法
                  %td 
                    = @delivery.name
                %tr
                  %th 配送料の負担
                  %td 
                    = @payer.name
                %tr
                  %th 発送元の地域
                  %td
                    = @prefecture.name
                %tr
                  %th 発送日の目安
                  %td 
                    = @duration.name
              - elsif @category.ancestry.include?("/")
                %tr
                  %th 出品者
                  %td 
                    = @user.nickname
                %tr
                  %th カテゴリー  
                  %td
                    = link_to "#" do 
                      = @category.root.name
                    %br 
                    = link_to "#" do  
                      = @category.parent.name
                    %br
                    = link_to "#" do
                      = @category.name 
                %tr
                  %th ブランド
                  %td 
                    = @item.brand
                %tr
                  %th 商品サイズ
                  %td
                    = @size.size 
                %tr
                  %th 商品の状態
                  %td 
                    = @status.name
                %tr
                  %th 配送の方法
                  %td 
                    = @delivery.name
                %tr
                  %th 配送料の負担
                  %td 
                    = @payer.name
                %tr
                  %th 発送元の地域
                  %td
                    = @prefecture.name
                %tr
                  %th 発送日の目安
                  %td 
                    = @duration.name
              - else 
                %tr
                  %th 出品者
                  %td 
                    = @user.nickname
                %tr
                  %th カテゴリー  
                  %td
                    = link_to "#" do  
                      = @category.parent.name
                    %br
                    = link_to "#" do
                      = @category.name
                %tr
                  %th ブランド
                  %td 
                    = @item.brand
                %tr
                  %th 商品サイズ
                  %td
                    = @size.size 
                %tr
                  %th 商品の状態
                  %td 
                    = @status.name
                %tr
                  %th 配送の方法
                  %td 
                    = @delivery.name
                %tr
                  %th 配送料の負担
                  %td 
                    = @payer.name
                %tr
                  %th 発送元の地域
                  %td
                    = @prefecture.name
                %tr
                  %th 発送日の目安
                  %td 
                    = @duration.name
          .main__show__contents__range__item__optionalArea
            .main__show__contents__range__item__optionalArea__likeBtn
              -# .main__show__contents__range__item__optionalArea__likeBtn__Btn
              = render partial: 'likes/like', locals: { item: @item, items: @items, likes: @likes, like: @like}
                
            .main__show__contents__range__item__optionalArea__optional
              .main__show__contents__range__item__optionalArea__optional__Btn
                = icon('fa', 'flag',class: 'icon')
                = link_to "不適切な商品の通報", "#"
        .main__show__contents__range__comment
          .main__show__contents__range__comment__commentBox
            .main__show__contents__range__comment__commentBox__new
              %h4 コメント一覧
              .main__show__contents__range__comment__commentBox__new__text
              .main__show__contents__range__comment__commentBox__new__noticeMsg
                相手ことを考え丁寧なコメントを心崖ましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
                %br/            
              = link_to "#", class: "comment-btn" do
                %textarea.inputs
                .main__show__contents__range__comment__commentBox__new__Btn
                  = icon('fas', 'comment', class: 'item-detail-message__btn__icon')
                  %span.comment-btn コメントする
          .main__show__contents__range__comment__comments
            .main__show__contents__range__comment__comments__text
              = form_for [@item, @comment] do |f|
                = f.text_field :text, class: 'input-box__text', placeholder: 'comment'
                = icon('fas', 'comment', class: 'item-detail-message__btn__icon')
                = f.submit 'コメントする', class: 'submit-btn'
                
          -# .main__show__contents__range__comment__box
          -# = @comments.each do |comment|
          -#   %p
          -#     %strong
          -#     = link_to comment.user.nickname, "/users/#{comment.user_id}"
          -#     = comment.text
      