%main
  %div.list-container
    %div.list-container__list-side 
      %nav.list-container__mypage-nav
        %ul.nav-list
          %li
            = link_to "#", class: "list-item" do
              マイページ
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              お知らせ
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              やることリスト
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              いいね！一覧
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              出品する
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              下書き一覧
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              出品した商品-出品中
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              出品した商品-取引中
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              出品した商品-売却済み
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              購入した商品-取引中
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              購入した商品-過去の取引
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              ニュース一覧
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              評価一覧
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              ガイド
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              お問い合わせ
              = icon('fas', 'angle-right')
      %h3.nav-head
        %span メルペイ
        %ul.nav-list
          %li
            = link_to "#", class: "list-item" do
              売上・振込申請
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              ポイント
              = icon('fas', 'angle-right')
      %h3.nav-head
        %span 設定
        %ul.nav-list
          %li
            = link_to "#", class: "list-item" do
              プロフィール
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              発送先・お届け先住所変更
              = icon('fas', 'angle-right')
          %li
            = link_to card_index_path, class: "list-item" do
              支払い方法
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              メール/パスワード
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              本人情報
              = icon('fas', 'angle-right')
          %li
            = link_to "#", class: "list-item" do
              電話番号の確認
              = icon('fas', 'angle-right')
          %li
            = link_to new_test_path, class: "list-item" do
              ログアウト
              = icon('fas', 'angle-right')
    %div.payment-container
      %div.payment-title
        %div.payment-title__box
          支払い方法
      %div.payment-content
        %div.payment-content__box
          .payment-content__title
            クレジットカード一覧
          .payment-content__link
            %button.payment-content__link__btn{type: 'submit'}
              = link_to card_show_path do
                クレジットカードを追加する
          .payment-content__text
            .payment-content__text__box
              支払い方法について
              %span ＞
%aside.banner
  %div.inner-box
    %h2.inner-box__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner-box__text 今すぐ無料ダウンロード！
    %div.inner-box__icon
      = link_to '#' do
        =image("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class: "inner-box__icon__btn-a")/
      =link_to '#' do
        =image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class: "inner-box__icon__btn-b")/
=link_to '#' do
  %div.sell-btn
    %p.sell-btn__text 出品する
    =image_tag("http://furima.tokyo/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg", class: "sell-btn__icon")/